/*
 * Device Tree overlay for RaspberryPi 7" Touchscreen panel
 *
 */

/dts-v1/;
/plugin/;

#include "edt-ft5406.dtsi"

/ {
	/* No compatible as it will have come from edt-ft5406.dtsi */

	dsi_frag: fragment@0 {
		target = <&dsi1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			port {
				dsi_out: endpoint {
					remote-endpoint = <&bridge_in>;
				};
			};
			bridge@0 {
				reg = <0>;
				compatible = "toshiba,tc358762";
				vddc-supply = <&reg_bridge>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						bridge_in: endpoint {
							remote-endpoint = <&dsi_out>;
						};
					};

					port@1 {
						reg = <1>;
						bridge_out: endpoint {
							remote-endpoint = <&panel_in>;
						};
					};
				};
			};
		};
	};

	fragment@1 {
		target-path = "/";
		__overlay__ {
			panel_disp: panel_disp@1 {
				reg = <1>;
				compatible = "raspberrypi,7inch-dsi", "simple-panel";
				backlight = <&reg_display>;
				power-supply = <&reg_display>;

				port {
					panel_in: endpoint {
						remote-endpoint = <&bridge_out>;
					};
				};
			};

			reg_bridge: reg_bridge@1 {
				reg = <1>;
				compatible = "regulator-fixed";
				regulator-name = "bridge_reg";
				gpio = <&reg_display 0 0>;
				vin-supply = <&reg_display>;
				enable-active-high;
			};
		};
	};

	fragment@2 {
		target = <&updown>;
		__overlay__ {
			output-low;
		};
	};

	fragment@3 {
		target = <&leftright>;
		__overlay__ {
			output-high;
		};
	};

	fragment@4 {
		target = <&updown>;
		__dormant__ {
			output-high;
		};
	};

	fragment@5 {
		target = <&leftright>;
		__dormant__ {
			output-low;
		};
	};

	i2c_frag: fragment@6 {
		target = <&i2c_csi_dsi>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			reg_display: reg_display@45 {
				compatible = "raspberrypi,7inch-touchscreen-panel-regulator";
				reg = <0x45>;
				gpio-controller;
				#gpio-cells = <2>;

				updown: updown@2 {
					gpio-hog;
					gpios = <2 0>;
				};
				leftright: leftright@3 {
					gpio-hog;
					gpios = <3 0>;
				};
			};
		};
	};

	fragment@7 {
		target = <&i2c0if>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@8 {
		target = <&i2c0mux>;
		__overlay__ {
			status = "okay";
		};
	};
	fragment@9 {
		target = <&ft5406>;
		__overlay__ {
			vcc-supply = <&reg_display>;
			reset-gpio = <&reg_display 1 1>;
		};
	};

	// NB fragments 10 - 12 are imported from edt-ft5406.dtsi

	__overrides__ {
		dsi0 = <&dsi_frag>, "target:0=",<&dsi0>,
		       <&i2c_frag>, "target:0=",<&i2c_csi_dsi0>,
		       <&ts_i2c_frag>, "target:0=",<&i2c_csi_dsi0>,
		       <&panel_disp>, "reg:0=0",
		       <&reg_bridge>, "reg:0=0",
		       <&reg_bridge>, "regulator-name=bridge_reg_0";
		disable_touch = <&ft5406>, "status=disabled";
		invert = <0>,"-2-3+4+5-10-11";
		vflip = <0>,"-2+4-11";
		hflip = <0>,"-3+5-10";
	};
};
